<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>	
	</startup>
	<appSettings>
		<add key="username" value="swaraj.patil@nice.com"/>
		<add key="password" value="jwalking99"/>
		<add key="token" value="I1cz6ZEP44frgegDnskqnJNgE"/>
		<add key="clientId" value="3MVG9pRzvMkjMb6l1hcHXFAQfMhwYMAzWoLI2vA6bJ9B6z17i83XCwBGzYmUIwY0OhjqT3ZhfwgFgs9ih.vzQ"/>
		<add key="clientSecret" value="086C9B09A6839FD79FEDB96A265E29678959B3A22DF1680FD12A0D79E810EFC8"/>

	</appSettings>
</configuration>